# flyctl launch added from .gitignore
**/*.md
**/*.adoc
**/target
!**/.mvn/wrapper/maven-wrapper.jar
!**/**/src/main/**/target
!**/**/src/test/**/target
**/*.jar

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
nbproject/private
nbbuild
dist
nbdist
.nb-gradle
**/build
!**/**/src/main/**/build
!**/**/src/test/**/build
**/nb-configuration.xml

### VS Code ###
**/.vscode

**/.env
**/.env.*

# Configurações para fazer build de aplicação nativa com GraalVM
native-config

#macOS
**/.DS_Store

.idea/
fly.toml
.gitignore
.dockerignore
Dockerfile
.github/
